.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 24px;
  text-align: center;
  padding-top: 10dvh;
  position: relative;
}

.logo {
  width: 120px;
  margin-top: auto;
}
.welcome-title {
  font-weight: 600;
}
.primary {
  font-size: 24px;
  padding: 16px 24px;
  border-radius: 16px;
}
.chips {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  button {
    background: #6f788d;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 16px;
  }
}
.note {
  opacity: 0.7;
}

.policeman-container {
  margin-top: auto;
  height: fit-content;
  position: relative;
  width: 300px;
  max-width: 75dvw;
  max-height: 50dvh;
  min-height: 50dvh;
  height: 50dvh;

  .policeman {
    width: 300px;
    max-width: 75dvw;
    max-height: 50dvh;
    min-height: 50dvh;
    height: 50dvh;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px;
}
