<div class="screen">
  <h2>Hable ahora</h2>

  <!-- Selector de micrófono -->
  <!-- <div
    style="margin: 8px 0 16px; display: flex; gap: 12px; align-items: center"
  >
    <label style="opacity: 0.8">Micrófono:</label>
    <select
      [(ngModel)]="selectedMic"
      (change)="onMicChange()"
      style="padding: 6px 10px; border-radius: 8px"
    >
      <option *ngFor="let m of mics" [value]="m.deviceId">{{ m.label }}</option>
    </select>
  </div> -->

  <!-- Botón PTT -->
  <div class="mic">
    <button
      class="primary"
      (mousedown)="startListening()"
      (mouseup)="stopListening()"
      (touchstart)="startListening()"
      (touchend)="stopListening()"
      [class.active]="listening"
    >
      Mantenga presionado y hable
    </button>
  </div>

  <!-- Texto (editable) -->
  <!-- <textarea
    [(ngModel)]="session.state.transcript"
    rows="6"
    placeholder="O escriba su pregunta..."
  ></textarea> -->

  <!-- Mensajes -->
  <div class="interim" *ngIf="listening">Escuchando…</div>
  <div class="interim" *ngIf="errorMsg" style="color: #f87171">
    {{ errorMsg }}
  </div>

  <div class="actions">
    <button routerLink="/">Cancelar</button>
  </div>
</div>

<!-- <div *ngIf="previewUrl" style="margin: 12px 0">
  <label style="opacity: 0.8; display: block; margin-bottom: 6px"
    >Escuchar lo grabado:</label
  >
  <audio [src]="previewUrl" controls></audio>
</div> -->
