.answer {
  color: white;
  font-size: 20px;
}
.wrap {
  padding: 40px;
  height: 100dvh;
  max-height: 100dvh;
}
.question {
  background: white;
  padding: 24px;
  border-radius: 18px;
  font-size: 20px;
  line-height: 1.4;
}
